<%=render :partial => 'header' %>
<p>To finish signing up for <strong>Throne of the Stars</strong> please <%=link_to('click here', @confirm_url)%> or if that doesn't work for you please visit the link below:</p>

<p><%=link_to(@confirm_url,@confirm_url)%></p>

<p>Thanks!</p>
<%=render :partial => 'footer' %>