<fieldset id="how_played">
<legend><span>How Throne of the Stars is Played</span></legend>
<ol>
	<li>Each player has their own <strong>Noble House</strong> with a host of <strong>characters</strong> under a patriarch and matriarch. Each character has traits (inherited or developed in childhood), skills (learned through apprenticeships or training) and a host of other characteristics that determine what they are good at doing.</li>
	<li>Each character has <strong>Action Points</strong> to spend on a variety of orders. They accrue action points every chronum (real world day) to a maximum of 10.</li>
	<li>The Noble House has <strong>estates</strong> (which gather resources, produce goods and more), <strong>starships</strong> (which move cargo between worlds or fight battles in space) and <strong>armies</strong> (for ground battles).</li>
	<li>Each of these positions need to have a character in charge to receive orders. Other characters may support him in a variety of ways.</li>
	<li><strong>Lords</strong> manage their estates with <strong>Stewards</strong> automating production and <strong>Tribunes</strong> automating recruitment.</li>
	<li><strong>Captains</strong> fly ships with <strong>Lieutenants</strong> providing valuable skills such as piloting, navigation or shooting.</li>
	<li><strong>Legates</strong> lead armies and <strong>Knights</strong> who have won tournaments can lead individual units to support the Legate.</li>
	<li>Characters can travel independently to foreign estates and become <strong>Emissaries</strong> who can perform diplomacy, petition other characters to leave their existing house, spy, perform sabotage or assassinate others.</li>
	<li>All characters can also marry, take part in <strong>tournaments</strong>, be invited to <strong>weddings</strong> and demand justice fighting in duels.</li>
	<li>As <strong>Baron</strong> your job is to manage your characters, estates, starships and armies to rise in power amongst the Noble Houses, gain prestigious positions within the Church and continue the family line by arranging marriages.</li>
	<li>Character <strong>orders are processed every 30 minutes</strong> and there is a "new chronum update" at 07:00 UTC every day during which estates gather resources, produce items, characters develop, tournaments and weddings are held and more.</li>
</ol>
</fieldset>