<div id="house_stats">
  <span>Wealth:</span> <%=money current_noble_house.wealth %> &nbsp;
  <span>Honour:</span> <%=h current_noble_house.honour.to_i %> &nbsp;
  <span>Glory:</span> <%=h current_noble_house.glory.to_i %> &nbsp;
  <span>Piety:</span> <%=h current_noble_house.piety.to_i %> &nbsp;
</div>